{% extends 'base.html' %}

{% block content %}
<div class="row align-items-center mb-3">
    <div class="col-md-8">
        <h2>Müşterilerim</h2>
        <a href="{% url 'customer_add' %}" class="btn btn-primary">Yeni Müşteri Ekle</a>
    </div>

    <div class="col-md-4">
        <input class="form-control me-2" type="search" name="query" placeholder="İsim veya Email Ara..."
            value="{{ query }}" hx-get="{% url 'customer_list' %}" hx-trigger="keyup changed delay:500ms, search"
            hx-target="#customer-table" hx-indicator=".htmx-indicator">
    </div>
</div>

{% include 'core/partials/customer_table.html' %}

{% endblock %}